 <div class="bg-slate-100"> 
  <%# Navbar %>
  <div class="fixed top-0 z-30 w-full">
    <%= render "shared/navbar" %>
  </div>

  <div class="grid grid-cols-1 lg:grid lg:grid-cols-8 gap-4 pt-3 lg:pt-8">
    <!-- Desktop Banner -->
    <div class="hidden lg:block lg:bg-gray-100 lg:w-full lg:col-start-2 lg:col-end-8 lg:mt-10">
      <%= render "users/user_banner" %>
    </div>
    <div class="hidden lg:grid lg:grid-cols-2 lg:block lg:max-h-40 lg:col-start-2 lg:col-end-4 lg:pt-10 lg:gap-y-4">
      <!-- User Photos -->
      <div class="hidden lg:block lg:col-span-2 lg:pt-1">
        <%= render "users/user_photos" %>
      </div>

      <!-- User Friends -->
      <div class="hidden lg:block lg:col-span-2 lg:pt-1">
        <%= render "users/user_friends" %>
      </div>
    </div>
    
    <!-- Content -->
    <div data-controller="user" class="lg:col-start-4 lg:col-end-7 px-4 py-4 ">
      <div class="grid mt-16 lg:-mt-8 rounded-md">
        <div class="container mx-auto justify-self-center ">
          <div class="relative h-56 lg:h-1">
            <!-- Banner -->
            <div class="lg:bg-white lg:w-full lg:hidden">
              <%= render "users/user_banner" %>
            </div>
            <!-- User avatar -->
            <div class="">
              <%= render "users/user_avatar" %>
            </div>
          </div>
          <!-- User name and pen icon -->
          <div class="lg:-mt-8">
              <%= render "users/user_update" %>
          </div>
      </div>
      <!-- Form to update banner image and profile picture -->
      <div class="mt-10 lg:mt-1">
        <%= form_with(model: @user, url: user_path(@user), local: true) do |form| %>
          <!-- Other user fields -->
          <div class="field hidden">
            <% form.label :profile_picture %>
            <%= form.file_field :profile_picture, direct_upload: true, data: { action: "change->user#submitForm", user_target: "profilePicture" } %>
          </div>
          <div class="field hidden">
            <%= form.label :banner_image %>
            <%= form.file_field :banner_image, data: { action: "change->user#submitForm", user_target: "bannerImage" } %>
          </div>
          <%= form.submit "Update", class: "hidden", id: "submit_user_form" %>
        <% end %>
      </div>
    
      <!-- Posts -->
      <!-- Index of posts -->
      <div> 
        <%= render 'posts/posts_index', posts: @user.posts %>
      </div> 

      <%# Render user photos %>
      <div class="mb-2 lg:self-center lg:hidden">
        <%= render 'users/user_photos' %>
      </div>

      <%# Render user friends %>
      <div class="mb-3 lg:self-center lg:hidden">
        <%= render 'users/user_friends' %>
      </div>

    </div>
  </div>  
</div>
