<%= turbo_stream_from "notification_event" %>
<!-- Navbar -->
<nav data-controller="menu" class="bg-white shadow fixed top-0 w-full mb-5">
  <!-- Container -->
  <div class="mx-auto max-w-9xl px-2 sm:px-4 lg:px-8">
    <!-- Container -->
    <div class="grid grid-cols-5 h-16 justify-between lg:grid-cols-6" data-controller="search">
      <!-- Logo, Search and Navigation -->
      <div class="col-start-1 col-end-1 grid grid-cols-3 px-2 lg:grid-cols-4 lg:px-0 lg:col-end-3"  data-search-target="searchParent">
        <!-- Logo -->
        <div class="self-center grid justify-items-end col-start-1 col-end-3 lg:col-end-1" data-search-target="searchLogo">
          <a href="/">
            <%= render "devise/shared/logo_small" %>
          </a> 
        </div>
        <!-- Search box -->
        <div class="self-center justify-center px-2 lg:justify-end lg:col-start-2 lg:col-end-4" data-search-target="searchField">
          <div class="w-full max-w-lg lg:max-w-xs">
            <label for="search" class="sr-only">Search</label>
            <div class="grid grid-cols-6" >
              <div class="self-center cols-start-1 col-end-1 w-8 inset-y-0 left-0 items-center">
                <button data-action="click->search#toggleSearch" class="self-center">
                  <%= render partial: 'shared/search_icon' %>
                </button>
              </div>
              <input id="search" name="search" class="hidden col-start-1 col-end-6 block w-full rounded-md border-0 
                bg-gray-100 py-1.5 pr-3 text-gray-900 ring-1 ring-inset ring-gray-300 
                placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-sky-600 
                sm:text-sm sm:leading-6 lg:flex" placeholder="Search" type="search"
                data-search-target="searchBox">
            </div>
          </div>
        </div> 
      </div>
      <!-- Desktop: Navigation Home, Friends, Messenger, MarketPlace -->
      <div class="hidden self-center items-center mx-auto h-12 w-auto lg:flex 
                  lg:space-x-8 grid grid-cols-4 col-start-3 col-end-5" data-controller="navbar">
        <!-- Home -->
        <a href="/" class=" px-1 pt-1 col-start-1 col-end-1 w-16 border-b-2 w-16 border-transparent
                             text-sm font-medium text-gray-500 hover:bg-gray-100 hover:rounded-lg"
                    data-navbar-target="link">
        <%= render partial: 'shared/home_icon', locals: { svg_class: "svg-icon" } %>
        </a>
        <!-- Friends -->
        <a href="<%= friendships_path %>" class="px-1 pt-1 col-start-2 col-end-2
                                                 border-b-2 w-16 border-transparent 
                                                 text-sm font-medium text-gray-500 
                                                 hover:bg-gray-100 hover:rounded-lg"
                                          data-navbar-target="link">
          <%= render partial: 'shared/friends_icon', locals: { svg_class: "svg-icon" } %>
        </a>
        <!-- Messenger -->
        <a href="<%= messenger_path %>" class="pt-1 pb-1 col-start-3 col-end-3 
                                              border-b-2 w-16 border-transparent
                                              text-sm font-medium text-gray-500 
                                              hover:bg-gray-100 hover:rounded-lg" 
                    data-navbar-target="link">
          <%= render partial: 'shared/messenger_icon', locals: { svg_class: "svg-icon" } %>
        </a>
        <!-- Market Place -->
        <a href="<%= market_place_path %>" class="pt-1 pb-1 col-start-4 col-end-4 
                                                border-b-2 w-16 border-transparent 
                                                text-sm font-medium text-gray-500 
                                                hover:bg-gray-100 hover:rounded-lg" 
                    data-navbar-target="link">
          <%= render partial: 'shared/marketplace_icon', locals: { svg_class: "svg-icon" } %> 
        </a>
      </div>
      
      <!-- Mobile: Messenger, notifications and gravatar icons -->
      <div class="col-start-3 col-end-5 self-center lg:hidden" data-menu-target="icons">
        <div class="grid grid-cols-3 items-center" >
          <!-- Messenger icon -->
          <div class="col-start-1 col-end-1 sm:hidden" >
            <a href="<%= messenger_path %>">
              <%= render partial: "shared/messenger_icon", locals: { svg_class: "svg-icon" } %>
            </a>
          </div>
          <!-- Notifications icon -->
          <div class="grid grid-cols-1 col-start-2 col-end-2 self-center sm:hidden">
            <%= render partial: "notifications/icon", 
              locals: { notifications: current_user.notifications.where(read: false) } %>
          </div>
          <!-- Gravatar -->
          <div class="col-start-3 col-end-3 sm:hidden">
            <%= image_tag gravatar_for(current_user), alt: current_user.username, 
                                                          class:"mx-auto h-8 w-auto rounded-full"
            %>
          </div>
        </div>
      </div>
      <!-- Mobile: Menu button -->
      <div class="col-start-5 col-end-5 self-center grid grid-cols-1 items-center lg:hidden">  
        <button type="button" 
                data-action="click->menu#toggle" 
                class="relative rounded-md p-2 text-gray-400 hover:bg-gray-100 
                  hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-inset 
                  focus:ring-sky-500" 
                aria-controls="mobile-menu" 
                aria-expanded="false">
          <span class="absolute -inset-0.5"></span>
          <span class="sr-only">Open main menu</span>
          <!-- Icon when menu is closed. -->        
          <%= render partial: "shared/menu_closed_icon" %>
          <!-- Icon when menu is open. -->
          <%= render partial: "shared/menu_open_icon" %>
        </button>
      </div>
      <!-- Desktop: Profile, Notifications -->
      <div class="hidden col-start-6 col-end-6 grid grid-cols-3 self-center lg:flex 
                  lg:ml-4 lg:items-center lg:grid lg:grid-cols-4">
        <!-- Notifications icon -->
        <div id="notifications">
          <%= render partial: "notifications/icon", 
            locals: { notifications: current_user.notifications.where(read: false) }
          %>
        </div>
        <!-- User name-->
        <div class="text-xs text-sky-700 lg:text-xs lg:col-start-2 lg:col-end-3"><%= current_user.username %></div>
        <!-- Desktop: Profile dropdown -->
        <div data-controller="menu" class="relative p-2">
          <div class="mx-auto h-8 w-auto">
            <button type="button" data-action="click->menu#toggle" 
                    class="relative rounded-full bg-white text-sm 
                          focus:outline-none focus:ring-2 focus:ring-sky-500 
                          focus:ring-offset-2" id="user-menu-button" aria-expanded="false" 
                          aria-haspopup="true">
              <span class="absolute -inset-1.5"></span>
              <span class="sr-only">Open user menu</span>
              <!-- Users Gravatar-->
              <%= image_tag gravatar_for(current_user), alt: current_user.username, 
                                                        class:"h-8 w-8 rounded-full"
              %>
            </button>
          </div>
          
          <!--
            Dropdown menu, show/hide based on menu state.

            Entering: "transition ease-out duration-100"
              From: "transform opacity-0 scale-95"
              To: "transform opacity-100 scale-100"
            Leaving: "transition ease-in duration-75"
              From: "transform opacity-100 scale-100"
              To: "transform opacity-0 scale-95"
          -->
          <div data-menu-target="toggleable" class="hidden absolute right-0 z-10 
                                                    mt-2 w-48 origin-top-right 
                                                    rounded-md bg-white py-1 
                                                    shadow-lg ring-1 ring-black 
                                                    ring-opacity-5 focus:outline-none" 
                                                    role="menu" aria-orientation="vertical" 
                                                    aria-labelledby="user-menu-button" tabindex="-1">
            <!-- Active: "bg-gray-100", Not Active: "" -->
            <a href="<%= user_path(current_user) %>" class="block px-4 py-2 text-sm text-gray-700" 
                        role="menuitem" .
                        tabindex="-1" 
                        id="user-menu-item-0">Your Profile</a>
            <a href="#" class="block px-4 py-2 text-sm text-gray-700" 
                        role="menuitem" 
                        tabindex="-1" 
                        id="user-menu-item-1">Settings</a>
            <%= form_tag destroy_user_session_path, method: :delete do %>
              <%= button_to "Sign Out", destroy_user_session_path, method: :delete, 
                class: "block px-4 py-2 text-sm text-gray-700" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Mobile menu, show/hide based on menu state. -->
  <div class="hidden lg:hidden" id="mobile-menu" data-menu-target="toggleable">
    <!-- Mobile: Navigation -->
    <div class="space-y-1 pb-3 pt-2" data-controller="navbar">
      <!-- Home -->
      <a href="/" class="grid grid-cols-8 col-start-1 items-center text-center 
                         block border-l-4 border-transparent py-2 pl-1 pr-4 
                         text-base font-medium text-gray-600 focus:bg-gray-200 
                         active:bg-gray-200"
                      data-navbar-target="link">
        <%= render partial: 'shared/home_icon', class:"col-start-2", locals: { svg_class: "svg-icon" } %>
        Home
      </a>
      <!-- Friends -->
      <a href="<%= friendships_path %>" class="grid grid-cols-8 col-start-1 
                                              items-center text-center block border-l-4 
                                              border-transparent py-2 pl-1 pr-4 
                                              text-base font-medium text-gray-600 
                                              focus:bg-gray-200 active:bg-gray-200"
        data-navbar-target="link">
        <%= render partial: 'shared/friends_icon', class: "col-start-1 col-end-1", locals: { svg_class: "svg-icon" } %>
        Friends
      </a>
      <!-- Messenger -->
      <a href="<%= messenger_path %>" class="grid grid-cols-8 col-start-1 
                                            items-center text-center block border-l-4 
                                            border-transparent py-2 pl-1 pr-4 
                                            text-base font-medium text-gray-600 
                                            focus:bg-gray-200 active:bg-gray-200" 
        data-navbar-target="link">
        <%= render partial: 'shared/messenger_icon', class: "col-start-1 col-end-1", locals: { svg_class: "svg-icon" } %>
        Messenger
      </a>
      <!-- Market Place -->
      <a href="<%= market_place_path %>" class="grid grid-cols-8 col-start-2 col-end-4
                                                items-center text-center block border-l-4 
                                                border-transparent py-2 pl-1 pr-4 
                                                text-base font-medium text-gray-600 
                                                focus:bg-gray-200 active:bg-gray-200" 
        data-navbar-target="link">
        <%= render partial: 'shared/marketplace_icon', class: "col-start-1 col-end-1", 
          locals: { svg_class: "svg-icon" } 
        %>  
        <div class="col-start-2 col-end-5 text-left">Market Place</div>
      </a>
      <!-- Profile -->
      <a href="<%= user_path(current_user) %>" class="grid grid-cols-8 col-start-2 col-end-4
                                                      items-center text-center block 
                                                      border-l-4 border-transparent py-2 pl-1 pr-4 
                                                      text-base font-medium text-gray-600 
                                                      focus:bg-gray-200 active:bg-gray-200" 
        data-navbar-target="link">
        <%= render partial: 'shared/profile_icon', class: "col-start-1 col-end-1", 
          locals: { svg_class: "svg-icon" } 
        %> 
        Profile
      </a>
    </div>
  </div>
</nav>

