<!-- Sidebar -->
<div class="grid grid-rows-5 gap-y-5 overflow-y-auto bg-slate-100 ml-28 pt-5">
  <nav>
    <ul role="list" class=" gap-y-5">
      <li>
        <ul role="list" class="-mx-1 space-y-1">
          <li>
            <a href=<%= user_path(current_user) %> class="grid grid-cols-5 text-gray-700 hover:text-sky-600 
                                                          hover:bg-slate-200   
                                                          gap-x-1 rounded-md p-2 
                                                          text-sm leading-6 font-semibold">
              <%= render partial: 'shared/user_icon' , class: "col-start-1 col-end-1" %>
              <%= current_user.username %>
            </a>
          </li>
          <li>
          <!-- Friends -->  
            <a href=<%= friendships_path %> class="grid grid-cols-5 text-gray-700 hover:text-sky-600 
                                                    hover:bg-slate-200 self-center 
                                                    gap-x-1 rounded-md p-2 
                                                    text-sm leading-6 font-semibold">
              <%= render partial: 'shared/friends_icon' , class: "col-start-1 col-end-1", locals: { svg_class: "svg-icon" } %>
              <div class="self-center">Friends</div>
            </a>
          </li>
          <!-- Memories -->
          <li>
            <a href=<%= memories_path %> class="grid grid-cols-5 text-gray-700 hover:text-sky-600 
                                                    hover:bg-slate-200 self-center 
                                                    gap-x-1 rounded-md p-2 
                                                    text-sm leading-6 font-semibold">
              <%= render partial: 'shared/memories_icon', class: "col-start-1 col-end-1" %>
              <div class="self-center">Memories</div>            
          </a>
          </li>
          <!-- Bookmarks -->
          <li>
            <a href="#" class="grid grid-cols-5 text-gray-700 hover:text-sky-600 
                                                    hover:bg-slate-200 self-center 
                                                    gap-x-1 rounded-md p-2 
                                                    text-sm leading-6 font-semibold">
              <%= render partial: 'shared/bookmarks_icon', class: "col-start-1 col-end-1" %>
              <div class="self-center">Bookmark</div>
            </a>
          </li>
          <!-- Groups -->
          <li>
            <a href="#" class="grid grid-cols-5 text-gray-700 hover:text-sky-600 
                                                    hover:bg-slate-200 self-center 
                                                    gap-x-1 rounded-md p-2 
                                                    text-sm leading-6 font-semibold">
              <%= render partial: 'shared/groups_icon', class: "col-start-1 col-end-1" %>
              <div class="self-center">Groups</div>  
            </a>
          </li>
          <!-- Videos -->
          <li>
            <a href="#" class="grid grid-cols-5 text-gray-700 hover:text-sky-600 
                                                    hover:bg-slate-200 self-center 
                                                    gap-x-1 rounded-md p-2 
                                                    text-sm leading-6 font-semibold">
              <%= render partial: 'shared/videos_icon', class: "col-start-1 col-end-1" %>
              <div class="self-center">Videos</div>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</div>
