
<!-- Trigger/Open The Modal -->
<div data-controller="modal">
  <div class="container mt-14 justify-center grid grid-rows-2 shadow-md rounded 
              bg-white divide-y-2 divide-gray-200 lg:max-w-20">
      <div class="grid grid-cols-8 bg-white pb-1 pt-2"
            data-action="click->modal#open">
        <!-- Gravatar -->
        <div class="justify-items-end p-2 grid col-start-1 col-end-1"
            data-action="click->modal#open">
          <%= image_tag gravatar_for(current_user), alt: current_user.username, 
                class:"mx-auto h-8 w-auto rounded-full border-2 border-sky-700"
          %>
        </div>
        <!-- Link to create content -->
        <div class="container self-center text-left pr-2 col-start-2 col-end-9 text-gray-900">
          <a href="#" class="block container resize-none p-1 border-2 rounded-lg 
                            py-1.5 text-gray-400 bg-gray-200 placeholder:text-gray-400 
                            focus:ring-0 text-sm sm:leading-6"
              data-action="click->modal#open">
              What are you thinking about <%= current_user.username %>?
          </a>
        </div>
      </div> 
      <!-- Icons -->
      <div class="p-2 self-center grid grid-cols-10">
        <%= render "shared/photo_icon", class:"col-start-1 col-end-1" %>
        <a href="#" class="col-start-2 col-end-4 text-sm text-gray-500"
          data-action="click->modal#open">
          Foto/video
        </a>
      </div>
  </div>

   
  <!-- Create Post Modal -->
  <div id="myModal" class="modal hidden fixed inset-0 z-50 flex items-center justify-center p-4 " 
     data-modal-target="modal"
     data-action="click->modal#closeWithBackgroundClick">
    <!-- Modal Backdrop -->
    <div class="absolute inset-0 bg-gray-500 bg-opacity-75" aria-hidden="true"></div>
    <!-- Modal -->
    <div class="bg-white rounded-lg shadow-xl overflow-hidden w-full max-w-lg mx-auto p-6 space-y-4" data-modal-target="modalContent">
      <div class="px-2 justify-center h-full lg:max-w-20">
        <!-- Post form -->
        <div class=" grid grid-rows-[30px_1px_45px_4fr] h-full shadow-md rounded bg-white bg-white rounded-lg 
                    text-left shadow-xl transform transition-all 
                    sm:max-w-lg sm:w-full">
          <!-- Close Button -->
          <div class="p-2 grid grid-cols-8 row-start-1 row-end-1 h-10">
            <span class="grid self-center justify-center col-start-1 col-end-8 pl-4 text-gray-900 " 
              data-action="click->modal#close">Create Post
            </span>
            <div class="self-center col-start-8 col-end-8 grid justify-end"
                data-action="click->modal#close">
              <%= render 'shared/close_x_icon' %>
            </div>
          </div>
          <!-- Border -->
          <div class="border-solid border-gray-200 border-b row-start-2 row-end-2 h-1"></div>
          <!-- Gravatar -->
          <div class="row-start-3 row-end-3 justify-items-start grid grid-cols-6 p-2 pt-3 ">
            <div class="grid self-center pl-2">
              <%= image_tag gravatar_for(current_user), alt: current_user.username, 
                  class:"mx-auto h-8 w-auto rounded-full col-start-1 col-end-1 border-2 border-sky-700"
              %>
            </div>
            <!-- Username -->
            <div class="text-left pl-1 grid self-center col-start-2 col-end-6"><%= current_user.username %></div>    
          </div>
          <!-- Post text box  -->
          <div class="grid grid-rows-[3.5fr_1fr_1fr] min-w-0 p-3">
            <%= form_with model: @post || Post.new, local: true, html: { multipart: true } do |form| %>
              <div class="h-full rounded-lg shadow-sm">
                <%= form.label :text,"Add your comment", class:"sr-only" %>
                <%= form.text_area :text, class:"h-full container resize-none border-0 
                                                py-1.5 px-2 text-gray-900 bg-gray-200 
                                                placeholder:text-gray-400 rounded-lg 
                                                focus:ring-0 sm:text-sm sm:leading-6", 
                  placeholder:"What are you thinking about, #{current_user.username}?"   
                %>
                <!-- Attach Photo -->
                <div class="grid grid-rows-2 gap-2 py-2">
                  <div class="items-center container ring-1 ring-inset rounded-lg ring-gray-300 
                              focus-within:ring-2 focus-within:ring-sky-600">
                    <div class="grid grid-cols-4 items-center text-xs text-gray-700 p-1">Attach to your post
                      <button type="button" class="h-10 items-center justify-center 
                                                  rounded-full text-gray-400 hover:text-gray-500">
                        <%= form.label :photo do %>
                          <%= form.file_field :photo, class: "hidden" %> 
                          <%= render "shared/paperclip_icon" %>
                        <% end %>
                      </button>
                    </div>
                  </div>
                  <!-- Submit button -->
                  <div class="w-full h-10 items-center rounded-md bg-sky-600 px-3 py-2 text-sm 
                              font-semibold text-white text-center shadow-sm hover:bg-sky-600 
                              focus-visible:outline focus-visible:outline-2 
                              focus-visible:outline-offset-2 focus-visible:outline-sky-600">
                    <%= form.submit "Post" %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>