<div class="h-screen bg-slate-100">
  <!-- Navbar -->
  <div class="fixed top-0 z-30 w-full">
    <%= render "shared/navbar" %>
  </div>

  <div class="grid grid-cols-1 lg:grid-cols-6 gap-4 pt-3 lg:pt-8 h-full">
    <!-- Sidebar -->
    <div class="hidden lg:block lg:col-span-2 lg:pt-8">
      <%= render "shared/sidebar" %>
    </div>

    <!-- Content Area: Form and Posts -->
    <div class="lg:col-span-2 px-4 py-4 overflow-auto overflow-y-scroll no-scrollbar">
    
      <%# New post form %>
      <div class="mb-4 lg:self-center">
        <%= render 'form', new_post: @new_post %>
      </div>
   
      <%# Index of posts %>
      <div class="bg-slate-100 lg:pt-5 lg:min-h-screen lg:bg-slate-100 lg:flex lg:justify-center">
        <div class= "container mx-auto mt-5 justify-center lg:1/2 lg:mx-auto lg:bg-white lg:rounded lg:shadow-md">
          <ul role="list" class="divide-y divide-gray-100 bg-slate-100 rounded shadow-md">
            <% @posts.each do |post| %> 
              <li data-controller="confirmation", class="py-2 mt-3 bg-white rounded shadow-md"> 
                <div class="grid grid-rows-auto">
                  <!-- Avatar and Username -->
                  <div class="grid grid-cols-7 items-center">
                    <!-- Avatar -->
                    <div class="col-start-1 col-end-1 p-3">
                      <%= image_tag gravatar_for(post.user), alt: post.user.username, 
                      class: "mx-auto h-8 w-auto rounded-full border-2 border-sky-700" %>
                    </div>
                    <!-- Username and time -->
                    <div class="col-start-2 col-end-6">
                      <div class="grid grid-rows-1 items-baseline justify-between gap-x-4">
                        <p class="text-sm font-semibold leading-6 text-gray-900"><h3><%= post.user.username %></h3></p>
                        <p class="text-xs text-gray-600">
                          <time datetime="<%= post.created_at %>"><%= time_ago_in_words(post.created_at) %> ago</time>
                        </p>
                      </div>
                    </div>
                    <!-- Delete button for the post -->
                    <div class="col-start-7 col-end-7">
                      <% if post.user == current_user %>
                        <%= button_to post_path(post), method: :delete, data: { action: "click->confirmation#delete" } do %>
                          <div><%= render 'shared/close_x_icon' %></div>
                        <% end %>
                      <% end %>
                    </div>
                  </div>
                  <!-- Post content -->
                  <div class="grid grid-cols-7">
                    <!-- Post text -->
                    <p class="col-start-1 col-end-7 block text-sm text-left resize-none border-0 
                              py-1.5 text-gray-800 items-start overflow-hidden 
                              p-3 ">
                      <%= post.text %>  
                    </p>
                    <!-- Photo -->
                    <% if post.photos %>
                      <div class="col-start-1 col-end-8 lg:h-1/5">
                        <% post.photos.each do |photo| %>
                          <%= image_tag photo.image, class: "max-w-full h-auto lg:w-full lg:h-auto lg:object-cover" if photo.image.attached? %>
                          <% end %>
                      </div>
                    <% end %>
                    
                  </div>
                  <!-- Likes Count -->
                  <div class="grid grid-cols-9 pt-2">
                    <!-- Display the number of likes for the post -->
                    <div class="col-start-1 col-end-1 self-center">
                      <%= render 'shared/thumbs_up_icon_count' %>
                    </div>
                    <div class="col-start-2 col-end-3 self-center text-sm text-gray-400">
                      <%= post.likes.count %>
                    </div>
                    
                  </div>
                  <!-- Border -->
                  <div class="border-solid border-gray-200 border-b h-1"></div>
                  <!-- Like/Unlike button for the post -->
                  <div class="mt-1 text-sm text-gray-400">
                    <% if current_user.likes.exists?(likeable: post) %>
                      <% like = current_user.likes.find_by(likeable: post) %>
                      <%= button_to like_path(like), method: :delete do %>
                        <div class="grid grid-cols-5 self-center">
                          <div><%= render 'shared/thumbs_up_icon' %></div>
                          <span class="self-center">Unlike</span>
                        </div>
                      <% end %>
                    <% else %>
                      <%= button_to likes_path(likeable_id: post.id, likeable_type: 'Post'), method: :post  do %>
                        <div class="ml-1 grid grid-cols-7"> 
                          <div class="col-start-1 col-end-2"><%= render 'shared/thumbs_up_icon' %></div>
                          <span class="ml-1 self-center">Like</span>
                        </div>
                      <% end %>
                    <% end %>
                  </div>
                  <!-- Border -->
                  <div class="border-solid border-gray-200 border-b h-1"></div>
                  <!-- Display existing comments for the post -->
                  <div class="comments">
                    <!-- Display the most recent comment for the post -->
                    <% last_comment = post.comments.order(created_at: :desc).first %>
                    <% if last_comment %>
                      <div class="grid grid-rows-[10px, 6px] p-1">
                        <div class="grid grid-cols-7 ml-4 ">
                          <div class="col-start-1 col-end-1 p-1 self-center">
                            <%= image_tag gravatar_for(last_comment.user), alt: last_comment.user.username, 
                            class: "mx-auto h-6 w-auto rounded-full border-2 border-sky-700" %>
                          </div>
                          <!-- Display the comment text -->
                          <div class="col-start-2 col-end-7 text-left px-1 pt-1 pl-3
                                      text-wrap text-xs bg-gray-100 text-gray-800 
                                      border-none resize-none rounded-lg">
                          <%= last_comment.text %>
                          </div> 
                        </div>
                        <%# Like/Unlike button for the comment %>
                        <div class="grid grid-cols-9 self-center">
                          <% comment_like = current_user.likes.find_by(likeable: last_comment) %>
                          <% if comment_like %>
                            <div class="col-start-3 col-end-4">
                              <%= button_to 'Unlike', like_path(comment_like), method: :delete, class:"text-xs text-gray-500" %>
                            </div>
                          <% else %>
                            <div class="col-start-3 col-end-4">
                              <%= button_to likes_path(likeable_id: last_comment.id, likeable_type: 'Comment'), method: :post, class:"text-xs text-gray-500" do %>
                                Like
                              <% end %>
                            </div>
                          <% end %>
                          <div class="col-start-7 col-end-8 self-center ">
                            <%= render 'shared/thumbs_up_icon_count' %>
                          </div>
                          <div class="col-start-8 col-end-9 self-center text-xs text-gray-400 ">
                            <%= last_comment.likes.count %>
                          </div>
                        </div>
                      </div>
                    <% end %>
                  </div>
                  
                  <!-- Form to add a new comment -->
                  <div class="">  
                    <%= form_with(model: Comment.new, url: comments_path, local: true) do |form| %>
                      <%= form.hidden_field :commentable_id, value: post.id %>
                      <%= form.hidden_field :commentable_type, value: 'Post' %>
                      <div class="container mx-auto grid grid-cols-8 pt-2 self-center lg:max-w-32">
                        <% form.label :text %>
                        <div class="cols-start-1 col-end-1 pt-1 pl-3"><%= render 'shared/photo_icon' %></div>
                        <div class="col-start-1 col-end-8 mx-2">
                            <%= form.text_area :text, placeholder: "Write a comment...", class:"w-full h-8 text-xs 
                                                                                        bg-gray-100 border-none 
                                                                                        resize-none rounded-lg
                                                                                        lg:max-w-20" %>
                        </div>
                        <div class="col-start-8 col-end-8 self-center lg:max-w-20">
                          <%= button_tag(type: 'submit', class: "") do %>
                            <%= render 'shared/paperplane_icon' %>
                          <% end %>
                        </div>
                      </div>
                      
                    <% end %>
                  </div>
                </div>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>    
  </div>    
</div>